.button {
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    width: 15rem;
    height: 4.4rem;
    border-radius: 35px;
}

.button.main {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.button.outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.main:hover {
    background-color: var(--primary-color-hover);
}
.outline:hover {
    color: var(--primary-color-hover);
}