.card {
  list-style: none;
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
}

.card img {
  width: 100%;
  display: block;
  position: relative;
  border-radius: 10px;
}

/* face up animation */
.card .faceUp {
  transform: rotateY(90deg);
  transition: all ease-in 0.15s;
  position: absolute;
}
.flipped .faceUp {
  transform: rotateY(0deg);
  transition-delay: 0.15s;
}

/* face down animation */
.card .faceDown {
  transition: all ease-in 0.15s;
  transition-delay: 0.15s;
}
.flipped .faceDown {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.faceDown {
  cursor: pointer;
}

.faceDown img {
  position: absolute;
  background-color: white;
  opacity: 0.5;
}

.position {
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}
