.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}

.logo {
  width: 70px;
  height: 85px;
  padding: 23px 30px;
  border-radius: 50%;
  background: #e7e8e8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000033;
}

.gameName {
  font-family: Roboto;
  letter-spacing: -0.35px;
  font-weight: bold;
  font-size: 70px;
  margin: 18px 0;
}

.startButton {
  background: #e80a4f 0% 0% no-repeat padding-box;
  border-radius: 35px;
  border: none;
  padding: 20px 60px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  margin-top: 60px;
}
.startButton:hover {
  cursor: pointer;
  background: #c00641;
}
