@import "./variables/variables.scss";
@import "./colors/colors.scss";

.btn {
    display:inline-flex;
    padding:map-get($padding, "1") map-get($padding, "3");
    border-radius: map-get($border-radius, "default");
    box-sizing: border-box;
    color:$black-color;
    text-align: center;
    background-color:$white-color;
    cursor: pointer;
    font-size: map-get($font-size, "3");
    width: 240px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.btn--primary {
    background-color:$primary-color;
    color:$secondary-color;
    border: none;
}
