.endGameModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: rem(500);
    padding: rem(37) rem(52) rem(30) rem(50);
    background-color: $white;
    border-radius: rem(20);
  }

  &-messageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: rem(32);
  }

  &-successText {
    font-size: rem(32);
    font-weight: bold;
  }

  &-clock {
    width: rem(30);
    height: rem(30);
  }

  &-timeContainer {
    display: flex;
    align-items: center;
  }

  &-timeText {
    margin-left: rem(10);
    font-size: rem(60);
    font-weight: bold;
  }
}
