.mainLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent linear-gradient(180deg, #f4f4f4 0%, $white-light 100%)
    0% 0% no-repeat padding-box;
}
