.button {
    background: #E50A4F 0 0 no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
    width: 240px;
    height: 70px;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 26px;
}
