.wrapper {
  padding: 30px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .info {
    flex-direction: column;
  }
}

.text {
  font-size: 32px;
  font-weight: bold;
  margin: 0 25px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
