body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f4f4f4;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.button {
	width: 240px;
	height: 70px;
	background: #e50a4f;
	border-radius: 35px;
	color: white;
	font: normal normal bold 26px/30px Roboto;
	border: none;
	cursor: pointer;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
