/* FONT */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 1.42857143;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
