// Color Palette
$red: #e50a4f;
$white: #ffffff;
$white-light: #e7e8e8;
$black-light: #333333;
$black-dark: #00000033;

// Fonts
$font-family: 'Roboto', sans-serif;
$font-base: 16;
$document-font-size: #{$font-base}px;
